  /* Estilos generales */

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1{
    font-size: 2.5rem;
  }

  .seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
  }

  /* Barra de navegacion */

.navbar{
  padding: 2rem;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

.nav-link:hover{
  border-bottom:1px solid white;
}

  /* Hero */

.hero-section{
  min-height: 450px;
  text-align: center;
}

hr{
  color: white;
}

.hero-principal{
  padding: 3rem;

}

.img-perfil{
  width:200px;
  border-radius: 100%;
  margin:20px
}

.hero-principal h2 {
  font-size: 1.5rem;
}

  /* About me */

.about-me{
  padding: 5rem 0;
}

.about-me-h3{
  padding: 1rem 5rem;
}

  /* Experience */

.experience{

  padding: 5rem 1rem;

}

.experience div{
  margin: 10px 0px;
}

.logo-experience{
  font-size: 50px;
  background-color: black;
  color: white;
  border-radius: 200%;
  padding: 10px 20px;
}

.div-Experience-Individual{
  padding: 20px 0;
  border: 0.1px solid white;
}

.boton-about-me{
  margin: 1em 0;
}

.div-Experience-Individual:hover{
  background: white;
  color:#000;
}

  /* Proyectos */

.proyectos-recientes {
  padding: 40px;
}
  
.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
  
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
  
.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
  
  .proyecto {
    position: relative;
  }

.proyecto:hover{
  background-color: white;
}
  
.proyecto:hover img {
  opacity: 0.2;
}
  
.proyecto:hover .overlay {
  opacity: 1;
}
  
.overlay .iconos-contenedor {
  display: flex;
}
  
.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

  /* Testimonios */

.testimonios{
  padding: 40px 40px 80px 40px;
}

.carousel{
  max-width: 800px;
  border: 1px solid white;
  margin: 50px 0 10px 0;
}

.testimonio-imagen{
  width: 150px;
  margin: 20px 0  5px 0;
}

.carousel-item .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-texto{
  max-width: 70%;
  font-size: 20px;
  margin: 15px 0;
}

.cliente{
  font-size: 30px;
}

.cargo{
  font-size: 20PX;
}

.carousel-control-next{
  color: white;
}

  /* Footer */

.footer{
  padding: 50px 0px;
}

.container i{
  font-size: 50px;
  margin: 0px 10px;
}

  /* Codigo responsive */

  @media screen and (max-width:767px){
  
    .navbar{
      border: 0;
    }

  }