section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 2.5rem;
}

.seccion-descripcion{
  font-size: 1.2rem;
  color: #584e4e;
}

/* Barra de navegacion */

.navbar{
padding: 2rem;
}

.navbar-collapse{
align-items: center;
justify-content: space-between;
}

.nav-link:hover{
border-bottom:1px solid white;
}

.testimonios{
  padding: 40px 40px 80px 40px;
}

.carousel{
  max-width: 800px;
  border: 1px solid white;
  margin: 50px 0 10px 0;
}

.navbar{
  border: 0;
}

