.hero-section{
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 3rem;

}

.img-perfil{
  width:200px;
  border-radius: 100%;
  margin:20px
}

.hero-principal h2 {
  font-size: 1.5rem;
}